@use "./layout//global-rules";

@use "./pages/contact.scss";
@use "./variables/color" as *;

$alt_color: green;

header{
    color: $alt_color;
}
footer{
    $alt_color: green !global;
    color: $alt_color;
}
.copyright{
    background-color: $alt_color;
}

$max_mobile: "max-width: 575";

@media ($max_mobile) {
    .slidbar{
        padding: 20px;
    }
}


.parent{
    padding: 20px;
    .child{
        font-size: 20px;
        .grand-child{
            margin: 10px;
        }
    }
}
.parent-one,
.parent-two{
    margin: 10px;
    .child{
        font-style: italic;
    }
}
.parent-three > {
    .childs{
        font-size: 30px;
    }
    .test{
        font-weight: bold;
    }
}

.parent-four {
    > .childs{
        font-size: 30px;
    }
    .test{
        font-weight: bold;
    }+p{
        font-style: italic;
    }
}
.parent-five {
    > {.childs{
        font-size: 30px;
    }
    .test{
        font-weight: bold;
    }}
    p{
        font-style: italic;
    }
}

.box{
    .title{
        font-style: italic;
    }
    &.red{
        bottom: 9;
    }
    &:hover{
        color: aqua;
    }
    [dir="rtl"] &{
        direction: rtl;
    }
}